@import './styles/_colors';

*,*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

/* to make it easy to calculate rem */
html {
  font-size: 62.5%;
}

// modal
.modalBlock {
  width: 100vw;
  height: 100vh;
  background: colors(modalOverallBg);
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  pointer-events: none;
  z-index: 4;
  animation: fadeIn 0.1s linear both;
}

@keyframes fadeIn {
  to {
    opacity: 1;
    pointer-events: initial;
  }
}

.active .modalFormBlock {
  --width: 450px;
  width: var(--width);
  transform: translateX(var(--width));
  height: 100%;
  background: colors(modalBg);
  padding: 20px;
  overflow: auto;
  margin-left: auto;
  animation: modalSlideIn 0.2s cubic-bezier(0.4, 0, 0.2, 1) both;
}


@keyframes modalSlideIn {
  to {
    transform: translateX(0);
  }
}

span[role="button"] {
  outline: none;
}

.loading, .error, .noItem {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.5rem;
  padding: 15rem;
}

.noItem {
  font-size: 1.5rem;
  padding: 10rem;
}